<h2 class="title"><%= resource_name.to_s.humanize %>個人資料</h2>

<%= form_for(resource, 
  as: resource_name, 
  url: registration_path(resource_name), 
  html: { multipart: true, method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, "使用者帳號" %><br />
    <%= f.text_field :username , class: "input is-medium" %>
    <p class="help">範例:@123</p>
  </div>
  <div class="field">
    <%= f.label :avatar, "大頭貼" %><br />
    <div>
      <%= f.file_field :avatar %>
    </div>
    <%= image_tag current_user.avatar.variant(resize_to_limit: [200, 200]) if current_user.avatar.attached? %>
    
  </div>

  <div class="field">
  <%= f.label :intro, "個人簡介" %><br />
  <%= f.text_area :intro , class: "textarea is-medium", rows: 5 %>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" , class: "input is-medium" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: "input is-medium" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-medium" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input is-medium" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" , class:"button is-medium is-primary" %>
  </div>
<% end %>


<%= link_to "Back", :back %>
