<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://fakeimg.pl/128x128/?text=CCH" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= @payment_type %> (USD <%= @fee %>)</span>
        <p>
          Lorem ipsum dolor.
        </p>
      </div>
      <head>
        <meta charset="utf-8" />
        <script src="https://js.braintreegateway.com/web/dropin/1.42.0/js/dropin.min.js"></script>
      </head>
      
      <%= form_with url: pay_users_path(type: params[:type]), id: "pay_form", method: "post", local: true do |form| %>
        <%= form.hidden_field :payment_nonce %>
        <div id="dropin-container"></div>
        <%= link_to "重新選擇方案", pricing_users_path, class: "button is-light" %>
        <button id="submit-button" class="button is-danger">付錢</button>
      <% end %>
    </div>
   

  </article>
</div>




<script>
  document.addEventListener("turbolinks:load", function(event){
    const button = document.querySelector("#submit-button");
    let nonce_field = document.querySelector("input[name= 'payment_nonce']")
    let form = document.querySelector("#pay_form")
    braintree.dropin.create({
      authorization: TOKEN,
      container: '#dropin-container'
    }, (error, instance) => {
      button.addEventListener("click", (event) => {
        event.preventDefault();
        instance.requestPaymentMethod( (err, payload) => {
          nonce_field.value = payload.nonce;
          form.submit();
        });
      });
    });
  });
</script>




