<% if story.errors.any? %>
    hi
    <div class="notification is-danger">
        <%= story.errors.full_messages.to_sentence %>
    </div>
<% end %>

<%= form_for(story) do |form| %>
    <div class="field">
        <%= image_tag story.cover_image, class: "cover_image" if story.cover_image.attached? %>
        <div>
            <%= form.label :cover_image, "封面圖" %>
            <%= form.file_field :cover_image %>
        </div>

    </div>    
    <div class="field">
        <%= form.label :title, "文章標題" , class: "input" %>
        <%= form.text_field :title , class: "input is-primary is-medium" %>
    </div>
    <div class="field">
        <%= form.label :content, "文章內容" , class: "input" %>
        <%= form.text_area :content , rows: 10, class: "textarea is-primary is-medium" %>
    </div>
    <div class="field">
        <%= form.submit "儲存草稿",class: "button is-medium", name: "save_as_draft" %>
        <%= form.submit "發布文章",class: "button is-medium is-primary",  name: "publish"  if story.may_publish? %>
        <%= form.submit "文章下架",class: "button is-medium is-danger",  name: "unpublish"  if story.may_unpublish? %>

    </div>
<% end %>